/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800&display=swap'); */

:root {
  --primaryColor: #5997a5;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #eee;
  --accentColor1: #fce0cc;
  --accentColor2: #0cb4cc;
  --accentColor3: #0078a6;
  --accentColor4: #053d39;
  --mainSpacing: 0.2rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Plus Jakarta Sans", sans-serif;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}

/* .navbar */
header {
  position: sticky;
  top: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 0.5rem;
  flex-direction: column;
  border-bottom: 1px solid var(--mainGrey);
  flex-wrap: wrap;
  background-color: var(--mainWhite);
  z-index: 5;
}

.navbar {
  height: 60px;
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
}
.cart-btn {
  position: relative;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}
/* location filter */
.wrapper {
  border-bottom: 1px solid var(--mainGrey);
}
.location-filter {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 80px;
  margin: 0.3rem 3rem;
  max-width: 1300px;
  gap: 5rem;
  margin: 0 auto;
}

.location-filter > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mainWhite);
  border: none;
  border-bottom: 1px solid transparent;
  color: #666;
}

.location-filter > button:hover {
  border-bottom: 1px solid #666;
  transition: var(--mainTransition);
  color: #000;
}
.location-filter > button > span {
  margin: 0.25rem;
}
@media (max-width: 800px) {
  .location-filter {
    gap: 3rem;
    padding: 1rem;
    overflow: scroll;
  }
  .location-filter > button > span {
    margin: 0.1rem;
  }
}
/* Hero */
main {
  position: relative;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accentColor4);
  text-transform: capitalize;
}

#hero-video {
  max-width: 1300px;
  width: 100%;
  z-index: -5;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

video > img {
  width: 100%;
  padding: 2rem;
}
video {
  border-radius: 5px;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  display: inline-block;
  padding: 3rem;
  border-radius: 1rem;
}
.banner-title {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
.banner-btn {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--accentColor2);
  color: var(--mainBlack);
  border: 1px solid var(--accentColor2);
  transition: var(--mainTransition);
  cursor: pointer;
  border-radius: 5px;
}
.banner-btn:hover {
  background: transparent;
  color: var(--accentColor4);
}

/* Products */
.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  filter: brightness(80%);
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin: 0.8rem 0.35rem;
  font-weight: 600;
}

.product h4 {
  font-weight: 600;
  margin: 0.5rem 0.35rem;
}

.product h4::after {
  content: " night";
  color: #666;
  cursor: text;
}

.pricing {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pricing div:nth-child(2) {
  display: flex;
  font-weight: 600;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
}
