:root {
  --primaryColor: #5997a5;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #eee;
  --accentColor1: #fce0cc;
  --accentColor2: #0cb4cc;
  --accentColor3: #0078a6;
  --accentColor4: #053d39;
  --swiper-theme-color: #fff !important; /* swiper color*/
  --mainSpacing: 0.05rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}

/* .navbar */
header {
  position: sticky;
  top: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 0.5rem;
  flex-direction: column;
  border-bottom: 1px solid var(--mainGrey);
  flex-wrap: wrap;
  background-color: var(--mainWhite);
  z-index: 5;
}

.navbar {
  height: 60px;
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
}
.cart-btn {
  position: relative;
}
.cart-items {
  position: absolute;
  top: -4px;
  right: -8px;
  background: var(--primaryColor);
  padding: 2px 6px;
  border-radius: 50%;
  color: var(--mainWhite);
  font-size: 1.1rem;
}
/*  */
header > nav .material-symbols-outlined {
  font-size: 2rem;
}
/* location filter */
.wrapper {
  border-bottom: 1px solid var(--mainGrey);
}
.location-filter {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 80px;
  margin: 0.3rem 3rem;
  max-width: 1300px;
  gap: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.location-filter > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mainWhite);
  border: none;
  border-bottom: 1px solid transparent;
  color: #666;
}

.location-filter > button:hover {
  border-bottom: 1px solid #666;
  transition: var(--mainTransition);
  color: #000;
}
.location-filter > button > span {
  margin: 0.25rem;
}

/* Hero */
main {
  position: relative;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accentColor4);
  text-transform: capitalize;
}

#hero-video {
  max-width: 1300px;
  width: 100%;
  z-index: -5;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

video > img {
  width: 100%;
  padding: 2rem;
}
video {
  border-radius: 5px;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  display: inline-block;
  padding: 3rem;
  border-radius: 1rem;
}
.banner-title {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
.banner-btn {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--accentColor2);
  color: var(--mainBlack);
  border: 1px solid var(--accentColor2);
  transition: var(--mainTransition);
  cursor: pointer;
  border-radius: 5px;
}
.banner-btn:hover {
  background: transparent;
  color: var(--accentColor4);
}

/* Products */
.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: capitalize;
  padding: 0.4rem;
  letter-spacing: var(--mainSpacing);
  font-weight: 300;
  transition: var(--mainTransition);
  transform: translateX(150%);
  z-index: 1;
  cursor: pointer;
  color: var(--mainWhite);
  border-radius: 5px 0 0 5px;
}



.bag-btn:hover {
  filter: brightness(110%);
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  min-width: 12rem;
  transition: var(--mainTransition);
}
.bag-btn-Booked {
  background-color: #fff;
  color: var(--primaryColor);
  transform: translateX(0);
}
.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin: 0.8rem 0.35rem;
  font-weight: 500;
}

.product h4 {
  font-weight: 500;
  margin: 0.5rem 0.35rem;
}

.pricing h4::after {
  content: " night";
  color: #666;
  cursor: text;
}

.pricing {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pricing div:nth-child(2) {
  display: flex;
  font-weight: 500;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
}

/* Cart */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(0, 0, 0, 0.15);
  z-index: 4;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 60px;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 1;
  background: var(--mainWhite);
  padding: 1.5rem;
  transition: var(--mainTransition);
  border: 1px solid var(--mainGrey);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  transform: translateX(100%);
}

.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
  padding: 1.4rem 1rem;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}

/*cart Item */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.chevron-up,
.chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* Mobile */
@media (max-width: 850px) {
  .location-filter {
    /* gap: 3rem; */
    padding: 1rem;
    overflow: scroll;
  }
  .location-filter > button > span {
    margin: 0.1rem;
  }
}

@media (max-width: 700px) {
  .banner-title {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }
  .banner-btn {
    padding: 0.5rem 1rem;
  }

  .banner {
    padding: 1.8rem;
  }
  main {
    margin-top: 2rem;
  }
  .products {
    padding: 0;
  }
  .products h2 {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 300;
  }
}

@media (max-width: 450px) {
  .banner-title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .banner-btn {
    font-size: 0.8rem;
    padding: 0.6rem;
  }

  .banner {
    padding: 1.25rem 1rem;
    width: 18rem;
  }
  .products h2 {
    margin-top: 0.8rem;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

/* swiper slider */

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
  opacity: 0 !important;
}

.mySwiper:hover .show-swiper {
  opacity: 1 !important;
  transition: all 0.3s ease;
}

.swiper-button-next {
  background-image: url("../images/nav/forward.svg") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev {
  background-image: url("../images/nav/back.svg") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.2);
}
